body {
  background-image: url("./img/currency.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.heading {
  font-family: "Pacifico", cursive;
  margin: 35px auto 20px;
  color: white;
}

hr {
  border-top: 2px solid #323762b7;
  width: 40%;
  margin-bottom: 55px;
}

.main {
  color: white;
  background: black;
  color: white;
  opacity: 0.8;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 660px;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 10px 10px 20px 10px rgba(112, 102, 102, 0.2);
  margin-top: 0px;
  border-bottom: 3px solid #69729a;
  border-right: 3px solid #69729a;
}

.searchBox {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
}

input {
  border: none;
}

label {
  font-size: 20px;
}

.btn {
  margin: 0.5em;
  border: none;
  height: 44px;
  width: 144px;
  outline: none;
  background: #69729a;
  color: white;
  cursor: pointer;
  border-bottom: 3px solid #69729a;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  color: white;
  background: #0431fc;
  border-color: #69729a;
  transition: all 0.4s ease 0s;
}

#finalAmount {
  font-family: "Lobster", cursive;
  display: none;
  margin: 5px auto;
  color: white;
  word-break: break-all;
}

#finalAmount h2 {
  font-size: 50px;
  word-break: break-all;
}

.finalValue {
  font-family: "Amiri", serif;
  word-break: break-all;
}

@media (max-width: 768px) {
  hr {
    width: 60%;
  }

  .main {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 60px;
  }

  hr {
    width: 75%;
  }

  #finalAmount h2,
  .finalValue {
    font-size: 40px;
    word-break: break-all;
  }
}